ww.html linguist-vendored
af.html linguist-vendored
as.html linguist-vendored
eu.html linguist-vendored
na.html linguist-vendored
oc.html linguist-vendored
sa.html linguist-vendored
pl.html linguist-vendored
